In [2]:
import csv
import pandas as pd

In [4]:
lin_roi_df = pd.read_csv("crypto_lin_roi.csv",parse_dates=True, index_col="timestamp")
lin_roi_df.index = pd.to_datetime(lin_roi_df.index)

grad_roi_df = pd.read_csv("crypto_grad_roi.csv",parse_dates=True, index_col="timestamp")
grad_roi_df.index = pd.to_datetime(grad_roi_df.index)

imb_roi_df = pd.read_csv("crypto_imb_roi.csv",parse_dates=True, index_col="timestamp")
imb_roi_df.index = pd.to_datetime(imb_roi_df.index)

xgb_roi_df = pd.read_csv("crypto_xgb_roi.csv",parse_dates=True, index_col="timestamp")
xgb_roi_df.index = pd.to_datetime(xgb_roi_df.index)

In [5]:
combined_df = pd.concat([lin_roi_df, grad_roi_df,imb_roi_df,xgb_roi_df], axis=1)

In [6]:
combined_df.shape

(660, 8)

In [7]:
combined_df.to_csv("crypto_combined_roi.csv")

In [8]:
combined_df

,LIN_btc,LIN_eth,GRAD_btc,GRAD_eth,IMB_btc,IMB_eth,XGB_btc,XGB_eth
timestamp,,,,,,,,
2021-06-04 07:00:00,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
2021-06-04 08:00:00,10000.000000,10000.000000,9962.286455,10000.000000,9962.286455,10035.042092,10000.000000,10000.00000
2021-06-04 09:00:00,10000.000000,10000.000000,9961.283291,10000.000000,9961.283291,10006.086059,10000.000000,10000.00000
2021-06-04 10:00:00,10000.000000,10000.000000,10028.251268,10000.000000,10028.251268,10065.585793,10000.000000,10000.00000
2021-06-04 11:00:00,10000.000000,10000.000000,10009.435164,10000.000000,10009.435164,10075.981235,10000.000000,10000.00000
...,...,...,...,...,...,...,...,...
2021-07-01 14:00:00,10739.815048,8430.819953,8961.916960,8737.637569,8976.962474,7945.936138,10926.270443,7792.28084
2021-07-01 15:00:00,10739.815048,8430.819953,9045.906172,8812.958805,9061.092690,8014.432655,11028.669166,7792.28084
2021-07-01 16:00:00,10739.815048,8430.819953,9069.210946,8854.318977,9084.436588,8052.045256,11057.082089,7792.28084
2021-07-01 17:00:00,10739.815048,8430.819953,9085.234669,8854.318977,9100.487212,8050.684398,11076.618036,7792.28084
2021-07-01 18:00:00,10739.815048,8430.819953,9085.234669,8854.318977,9083.108073,8009.518445,11076.618036,7792.28084